name: Black Code Style Check

on:
  push:
    branches-ignore: [main, master]
  pull_request:
    branches: [main, master]

permissions:
  contents: read

jobs:
  black-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Black
        run: pip install black

      - name: Run Black in check mode
        run: black . --check --diff
